{
    auto_https off
    admin off
}

:8009 {
    @grpcTunnel path /grpc-tunnel
    reverse_proxy @grpcTunnel 127.0.0.1:8010

    reverse_proxy 127.0.0.1:8008 {
        header_up Host {http.reverse_proxy.upstream.hostport}
        header_up -Origin
    }
}
